<h1><%= @mechanic.name %></h1>
<h3><%= @mechanic.years_experience %><h3>
<%= render partial: 'open_rides', locals: { rides: @mechanic.open_rides } %>
<%= render partial: 'add_ride', locals: { mechanic: @mechanic, ride: @ride } %>
